@model LAB8.DATA.Models.Laptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangMay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangMay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLaptop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLaptop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desception)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
